<style>/*<![CDATA[*/
.cr-red {
    color: rgb(192, 70, 62);
}

.home-link, .home-link:visited, .home-link:hover {
    text-decoration: none;
    color: black;
}

.simple-nav {
    font-size: 1.2em;
    line-height: 1.1em;
    margin-top: 1em;
}

.simple-nav a, .simple-nav a:visited {
    color: grey;
    padding-left: .4em;
}

.search-in-header {
    position: relative;
    margin-top: .5em;
    margin-right: 16em;
    width: 22em;
}

.search-in-header i {
    position: absolute;
    top: 0.35em;
    left: 0.5em;
    font-size: 1.8em;
    color: #aaa;
}

.search-in-header input {
    line-height: 1.2em;
    height: 1.4em;
    font-size: 1.6em;
    width: 22em;
    padding-left: 2em;
}

.span-header {
    margin-top: 0.5em;
    margin-bottom: -1em;
}

.simple-nav-outer {
    position: relative;
    width: 45em;
}

.simple-nav-bump-up {
    margin-top: -1em;
}

.simple-nav {
    position: absolute;
    height: 2em;
    top: 50%;
    margin-top: 1em;
    right: 0;
}

.simple-nav .pull-right {
    margin-top: -0.05em;
}

.simple-nav .pull-right img {
    margin-top: -0.2em;
}

.simple-nav > * {
    margin-left: .4em;
}

.simple-nav.smaller {
    font-size: 1em;
    line-height: 2em;
}

/*]]>*/</style>

<form id="search-form" method='GET' action="/search/works">
    <div class="search-in-header">
        <input id="search-input" class="input input-xlarge search-input"
               placeholder='Title, author, DOI, ORCID iD, etc.' , name='q' type='text'
               value='{{page.query}}'><i class="icon-search"></i>
        <input id="from-ui" name='from_ui' type='hidden' value='yes'/>
    </div>
</form>
