    .cr-red {
      color: rgb(192, 70, 62);
    }
    .search {
      margin-top: 2em;
      position: relative;
    }
    .search i {
      position: absolute;
      top: 0.25em;
      left: 0.3em;
      font-size: 2.8em;
      color: #aaa;
    }
    .search input {
      padding-left: 1.5em;
      line-height: 1.2em;
      height: 1.4em;
      font-size: 2.5em;
      width: 20em;
    }
    h1 {
      font-size: 4em;
      line-height: 1.2em;
    }
    .row-centered {
      margin: 0 auto;
      width: 700px;
    }
    #help-accordion {
      margin-top: 2em;
      margin-left: 4px;
    }
    .break-below {
      margin-bottom: 6em;
    }