<style>/*<![CDATA[*/.facets {
  background-color: #f8f8f8;
  padding: 1em;
}
.mini-page-header {
  border-bottom-color: rgb(208, 208, 208);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
li {
margin: 0.1em 0em;
}
.funder {
  margin-top: .3em;
  margin-buttom: .3em;
}
.funder-level1 {
  margin-top: .5em;
  margin-bottom: .5em;
  padding-top: .5em;
  border-top-color: rgb(208, 208, 208);
  border-top-style: solid;
  border-top-width: 1px;
}
.funder-hl {
  font-weight: bold;
}
.funder-header {
  padding-bottom: 0.1em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}
.funder-header h6 {
  font-size: 1.1em;
}
.funder-header h6 a {
  font-size: 1em;
}
.funder-expand {
  padding: 0.2em;
  font-size: 0.9em;
  color: rgb(164, 164, 164);
  font-weight: light;
  margin-left: 0.4em;
}
.facet-spacer {
  margin-bottom: 1em;
}

.facet-message {
  font-weight: bold;
  font-size: 1.0em;
}/*]]>*/</style>
<div class="facets">
  <h6 class="facet-message">Facet browsing currently unavailable</h6>
</div>
