<style>

  .item-tab.conf-proc {
    border-left: 4px solid rgb(49, 145, 177);
  }
  .item-data {
    padding: 1em;
  }
  td {
    vertical-align: top;
    padding: .7em;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  table:first-child {
    border-top: 1px solid #eee;
  }
  tr {
    border-bottom: 1px solid #eee;
    padding-bottom: 5em;
  }
  .item-data a {
    margin-left: 0.2em;
    margin-right: 0.2em;
  }
  .hl {
    font-weight: bolder;
  }
  .extra {
    color: #999;
    font-size: 1.2em;
    line-height: 1.3em;
  }
  .lead {
    margin-bottom: .7em;
  }
  .oa-tooltip, .oa-tooltip:visited, .oa-tooltip:hover {
    color: rgb(246, 130, 18);
    text-decoration: none;
  }
  .claim-ok {
    color: rgb(167, 204, 145);
  }
  .claim-ok:hover {
    color: rgb(137, 194, 115);
  }
  .claim-warn {
    color: rgb(246, 130, 18);
  }
  .claim-warn:hover {
    color: rgb(216, 100, 0);
  }
  .claim-none {
    color: #ccc;
  }
  .claim-none:hover {
    color: rgb(167, 204, 145);
  }
  .item-links-outer {
    margin-top: 1.5em;
    position: relative;
  }
  .item-links {
    position: absolute;
    top: 50%;
    height: 1.6em;
    margin-top:-0.8em;
  }
  .item-links img {
    margin-top: -0.33em;
  }
  .item-links a {
    margin-right: 1.5em;
  }
  .item-data .extra span {
    font-size: .9em;
    line-height: 1.5em;
  }
  .label {
    font-weight: normal;
  }
  .item-data .lead {
    margin-bottom: .2em;
    font-weight: 500;
  }
  .item-data .extra b {
    font-size: 1.1em;
  }
  .modal-body p {
    font-size: 1.3em;
    line-height: 1.2em;
  }
  .well-transparent {
    border: none;
    text-transform: uppercase;
    font-size: .9em;
    padding: .8em;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
  }
  .well-transparent i {
    font-size: 1.2em;
  }
  .well-transparent:hover {
    text-decoration: underline;
  }
  .btn-container button {
    margin-left: .5em;
    margin-top: 1em;
  }
  .btn-container {
    text-align: right;
  }
  .btn-container button i {
    margin-right: 0.4em;
  }


</style>
<script>
var dois_list = '{% for item in items %}{{ item.doi }},{% endfor %}'
</script>
<table>
    {% for item in items %}
    {% include 'item.html' %}
    {% endfor %}
</table>
{% for item in items %}
  {% if item.citations %}
    <div class="modal hide" id="citations-{{item.hashed}}">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">&times;</button>
        <h3>
          Patent citations for
          {{item.doi}}
        </h3>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Title</th>
          </tr>
          {%  for citation in item.citations %}
            <tr>
              <td>
                {{citation.id}}
              </td>
              <td>
                {{citation.type}} {{citation.authority}}
              </td>
              <td>
                <a href=" {{citation.url}} ">
                  {{citation.title}}
                </a>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  {% endif %}
  {% if signed_in and not item.user_claimed %}
    <div class="modal hide" id="claim-{{item.hashed}}">
      <div class="doi" id="doi-<%= item.hashed %>" style="display: none;">
        {{ item.doi }}
      </div>
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">&times;</button>
        <h3>
          Add
          {{ item.doi }}
          to your ORCID record
        </h3>
      </div>
      <div class="modal-body">
        <p>
          You are adding
          <b>
            {{ item.coins_atitle }}
          </b>
          to your ORCID record. Double check that you were a
          contributor to this work.
        </p>
        <p>Add this work to your ORCID record?</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" type="button">No, thanks</button>
        <button class="btn btn-primary" id="claim-button-{{ item.hashed }}">Yes, do it</button>
      </div>
    </div>
  {% endif %}
{% endfor %}
<script>

  function showCitationsBox(hashed) {
    $('#citations-' + hashed).modal();
  }


</script>
