{% if signed_in %}
  <div class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
      <img src="{{ url_for('static', filename='img/orcid_24x24.gif') }}"/>
      {{ orcid_info.name }}
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu" role="menu" style="right: 0; left: auto;">
      <li>
        <a href="https://orcid.org/my-orcid" target="_blank">
          <i class="icon-external-link"></i>
          ORCID record
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="/auth/signout?redirect_uri={{ request.url | urlencode }}">
          <i class="icon-signout"></i>
          Sign out
        </a>
      </li>
    </ul>
  </div>
{% else %}
  <a class="sign-in-link" href="#">
    <img src="{{ url_for('static', filename='img/orcid_24x24.gif') }}"/>
    Sign in
  </a>
  <script>

    $(document).ready(function() {
      $('.sign-in-link').click(function(e) {
        $.oauthpopup({path: '/auth/orcid',
                      callback: function() {
                        document.location.reload(true);
                      }});
        e.preventDefault();
        return false;
      });
    });



  </script>
{% endif %}
